
        <div class="container">
            <div class="col s12 m7">
                <h2 class="header justify">À propos</h2>
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            <h5 class="header justify">Les métier à l’hopital</h5>
                            <p class="flow-text justify">
                              Le cadre supérieur de santé : assure la responsabilité et la coordination de l’ensemble des services de soins et des personnels paramédicaux. Liseré bleu ciel
                            </p>
                            <p class="flow-text justify">
                              Le cadre de santé ou l’infirmier(ère) référent(e) : assure la coordination du service de soins dont il est responsable pour leur bonne marche interne, la relation avec les familles et la correspondance avec les autres établissements. Liseré bleu marine
                            </p>
                              <p class="flow-text justify">
                              L’infirmier(ère) : organise et dispense tous les soins dont vous avez besoin. Leur soutien vous aidera à retrouver au plus tôt votre autonomie en gérant au mieux vos problèmes de santé. Liseré vert
                            </p>
                              <p class="flow-text justify">
                              L’aide-soignant(e): collabore avec l’infirmier(ère) pour les soins d’hygiène et de bien-être qui vous sont nécessaires. Liseré orange
                            </p>
                              <p class="flow-text justify">
                              Le kinésithérapeute : il effectue des actes de rééducation fonctionnelle et motrice. Il intervient sur l’ensemble de l’hôpital. Liseré bleu ciel
                            </p>
                              <p class="flow-text justify">
                              L’ergothérapeute : a pour but de vous aider à acquérir ou à recouvrer un maximum d’autonomie dans vos activités de la vie quotidienne professionnelle ou sociale. Liseré bleu ciel
                            </p>
                              <p class="flow-text justify">
                              L’assistant social : pourra-vous informer et vous assister dans vos démarches et rechercher avec vous l’aide appropriée à vos difficultés. Pour vous entretenir avec, adressez-vous au personnel infirmier qui l’en avisera.
                            </p>
                            <p class="flow-text justify">
                            L’assistant social : pourra-vous informer et vous assister dans vos démarches et rechercher avec vous l’aide appropriée à vos difficultés. Pour vous entretenir avec, adressez-vous au personnel infirmier qui l’en avisera.
                            </p>
                            <p class="flow-text justify">
                              La psychologue : assure le suivi et l’accompagnement psychologique des personnes institutionnalisées et des familles.
                            </p>
                            <p class="flow-text justify">
                              Participent également à votre prise en charge et votre bien-être
                            </p>
                            <p class="flow-text justify">
                              Le pharmacien et le préparateur(trice) : l’hôpital dispose d’une pharmacie à usage interne. La responsabilité de ce service est confiée à un praticien hospitalier. Le pharmacien et le préparateur sont chargés d’organiser la dispensation des médicaments qui vous seront prescrits par les médecins.
                            </p>
                            <p class="flow-text justify">
                              L’agent de service hospitalier : veille à la propreté de votre environnement et participe aux tâches hôtelières.
                            </p>
                            <p class="flow-text justify">
                              La secrétaire médicale : elle a la charge du secrétariat des médecins et des services. Vous pouvez lui demander tout renseignement administratif.
                            </p>
                            <p class="flow-text justify">
                              Le référent relationnel : en soins de longue durée et en EHPAD, vous aurez à votre disposition un professionnel attentif à votre confort moral et matériel. Le Référent est un agent à l’écoute de vos demandes, vos souhaits, vos besoins qu’il transmettra à l’équipe soignante qui vous entoure.
                            </p>
                            <p class="flow-text justify">
                              Les membres du service animations : l'équipe d'animation proposent des activités ciblées contribuant ainsi au bien-être et à la vie sociale des résidents et/ou patients dans l'établissement.Les membres du service animations : l'équipe d'animation proposent des activités ciblées contribuant ainsi au bien-être et à la vie sociale des résidents et/ou patients dans l'établissement.
                            </p>
                            <p class="flow-text justify">
                              Vous apprendrez très vite à les reconnaître par leurs badges qui indiquent leur nom et leur qualification.
                            </p>
                            <p class="flow-text justify">
                              Le service technique : tenue bleue
                              Assure le dépannage courant, la maintenance, l’entretien et la sécurité incendie.
                            </p>
                            <p class="flow-text justify">
                              Le service intérieur : tenue blanche
                              Assure l’hygiène des locaux.
                            </p>
                            <p class="flow-text justify">
                              Le service restauration : veste blanche pantalon pied-de-poule
                              Confectionne vos repas.
                            </p>
                            <p class="flow-text justify">
                              La diététicienne : à pour but de surveiller votre état nutritionnel et de garantir une alimentation adaptée à vos besoins.

                            </p>
                            <p class="flow-text justify">
                              La blanchisserie :
                              Assure l’entretien du linge.
                            </p>
                            <p class="flow-text justify">
                              Le service administratif :
                              Composé du service accueil/ admission /frais de séjour, du service économique et financier, du service du système d’information, du service des ressources humaines et du service qualité et gestion des risques
                            </p>
                            <h5 class="header justify">Bénévoles :</h5>
                            <p class="flow-text justify">
                              Des bénévoles interviennent dans l’établissement, pour différentes activités ou services.
                              La liste de ces associations est disponible en annexe et sur demande au service accueil/admissions/frais de séjour.
                            </p>



                    </div>
                </div>
            </div>
        </div>
    </div>
