<div id="topFixed"></div>
<div class="slider">
  <div class="caption center-align title">
    <div class="message">
      <h3 class="welcome">Bienvenue</h3>
      <h5 class="text-lighten-3 hospitalName">au centre hospitalier de La Loupe</h5>
    </div>

  </div>
    <ul class="slides">
      <li>
        <img src="../assets/img/hopital.tif"> <!-- random image -->
      </li>
      <li>
        <img src="../assets/img/personnels.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="../assets/img/ehpad.jpg"> <!-- random image -->
      </li>
    </ul>
  </div>
  <div class="row col l3 m12 group-btn">
    <div class="cont-btn col l3 m6 s12">
      <a class="btn consult cont-btn-green waves-effect"><i class="material-icons iconButton">insert_invitation</i></br><span>J'ai un rendez-vous</span></a>
    </div>
    <div class="cont-btn col l3 m6 s12">
      <a class="btn cont-btn-violet waves-effect"><i class="material-icons iconButton">local_hospital</i></br><span>Je vais être hospitalisé</span></a>
    </div>
    <div class="cont-btn col l3 m6 s12">
      <a class="btn cont-btn-orange waves-effect"><i class="material-icons iconButton">local_hotel</i></br><span>Je vais entrer en EHPAD</span></a>
    </div>
    <div class="cont-btn col l3 m6 s12">
      <a class="btn cont-btn-blue waves-effect"><i class="material-icons iconButton">transfer_within_a_station</i></br><span>Je vais voir un patient</span></a>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row consultation">
      <div class="general">
        <a href="#">Général</a>
      </div>
      <div class="chirurgie">
        <a href="#">Chirurgie</a>
      </div>
      <div class="genico">
        <a href="#">Génicologie</a>
      </div>
    </div>

  </div>
<!-- Fin Slider -->

<!-- modal 1-->
  <div id="boutonrouge1" class="modal modal-fixed-footer">
      <div class="modal-content">

          <h5>Bienvenue</h5>

          <p>Vous prévoyez de venir prochainement au Centre Hospitalier de Nogent-le-Rotrou pour :</p>

          <ul>
            <li> - une hospitalisation programmée </li>
            <li> - une consultation </li>
            <li> - des actes de soins </li>
            <li> - visiter un proche </li>
            <li>  - ou venir travailler dans nos services.</li>
          </ul>

          <p>Vous trouverez à travers notre site Internet toutes les informations pour faciliter vos démarches administratives, votre séjour et répondre à vos attentes.
          Nos services veillerons à vous réserver le meilleur accueil.<br />
          Nous vous souhaitons la bienvenue dans notre établissement et en cas d'hospitalisation, nous mettons tout en oeuvre pour que votre séjour se déroule le mieux possible.<br />
          L'ensemble de nos équipes reste à votre écoute.</p>

          <!-- Dropdown Trigger -->
  <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Un</a></li>
    <li><a href="#!">Deux</a></li>
    <li class="divider"></li>
    <li><a href="#!">Trois</a></li>
    <li><a href="#!">Quatre</a></li>
    <li><a href="#!">Cinq</a></li>
    <li><a href="#!">Six</a></li>
    <li><a href="#!">Sept</a></li>
    <li><a href="#!">Huit</a></li>
    <li><a href="#!">Neuf</a></li>
    <li><a href="#!">Dix</a></li>
    <li><a href="#!">Onze</a></li>
    <li><a href="#!">Douze</a></li>
    <li><a href="#!">Treize</a></li>
    <li><a href="#!">Quatorze</a></li>
    <li><a href="#!">Quinze</a></li>
    <li><a href="#!">Seize</a></li>
    <li><a href="#!">Dix-Sept</a></li>
    <li><a href="#!">Dix-Huit</a></li>
  </ul>
      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Fermer</a>
      </div>
  </div>

  <!-- modal 2-->

  <!-- Modal Structure -->
  <div id="boutonrouge2" class="modal modal-fixed-footer">
      <div class="modal-content">

          <h5>
              Admission programmée
          </h5>

          <p>
              Si votre hospitalisation est programmée, vous devez procéder à une pré-admission en vous présentant à l'accueil afin de constituer votre dossier administratif.</p>

          <h5>Frais de Séjour
          </h5>

          <p>Le prix de journée fixé par arrêté du Directeur de l'ARS (Agence Régionale de Santé) tarif 1er juin 2016 :</p>
          <ul>
              <li>
                  - Médecine: 556,65 € /jour
              </li>
              <li>
                  - Chirurgie Ambulatoire: 863,14 € /jour
              </li>
              <li>
                  - Urgences: 556,65 € /jour (Nogent-Le-Rotrou)</li>
              <li>
                  - Soins de Suite : 214,75 € /jour</li>
              <li>
                  - Le forfait journalier fixé à 18 € au 1er janvier 2016 (institué par la loi du 19 janvier 1983, il représente votre contribution aux dépenses hôtelières).</li>
          </ul>

          <p>Dans le cas général, ces frais sont pris en charge :</p>
          <ul>
              <li>
                  - à 80 % par les organismes d'Assurances Maladie.</li>
              <li>
                  - les 20 % restants (ticket modérateur) sont à la charge du patient ou de son organisme d'Assurance Complémentaire.</li>
          </ul>

          <h5>Votre sortie</h5>

          <p>La date de votre sortie est fixée par le médecin responsable au moment de votre prise en charge dans le service. Avant de quitter l'établissement, assurez-vous de n'avoir oublié aucun objet personnel dans votre chambre.</p><br/>

          <h5>
              Effets personnels
          </h5>

          <p>Il vous appartient d'apporter vos effets personnels lors de votre hospitalisation: nécessaire de toilette, linge de nuit, robe de chambre, pantoufles, ... Durant votre séjour à l'Hôpital, nous vous invitons :
          </p>
          <ul>
              <li>
                  - à ne garder aucun bijou, chéquier, carte bancaire, argent liquide.</li>
              <li>
                  - Les confier, si possible, aux membres de votre famille.
              </li>
          </ul>
          <p>Le port de bijoux est notamment incompatible avec les examens radiologiques et les interventions chirurgicales. Si au moment de votre admission, vous êtes en possession de telles valeurs, vous pouvez les déposer au coffre de l'établissement. Une
              quittance vous sera délivrée après le dépôt. Celle-ci devra être présentée au moment du retrait. La procédure de retrait des dépôts vous sera communiquée lors du dépot. Le Centre Hospitalier n'est pas responsable des vols ou des pertes des valeurs et
              objets non déposés.</p>

      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Fermer</a>
      </div>
  </div>

  <!--modal 4-->

  <div id="boutonrouge4" class="modal modal-fixed-footer">
      <div class="modal-content">

          <h5>Visiter un patient </h5>

          <p>Vous souhaitez rendre visite à l'un de vos proches, voici quelques renseignements utiles : </p>
          <ul>

            <li> - Les visites sont autorisées tous les jours de 12h00 à 20h00. </li>
            <li> - Il est conseillé d'éviter les visites trops longues et en groupe.</li>
            <li> - Nous vous remercions de bien vouloir respecter ces consignes pour le confort des patients.</li>
            <li> - Si vous souhaitez offrir des fleurs à la personne hospitalisée, seules les fleurs coupées sont autorisées. </li>

          </ul>

          <h5> Envoyer/recevoir du Courrier</h5>

         <p>La distribution du courrier est assurée une fois  par jour par le personnel soignant. Il est souhaitable d'indiquer sur l'enveloppe le service d'hospitalisation et le numéro de chambrede votre correspondant.</p>

         <p>Pendant votre hospitalisation, il vous est possible de recevoir et d'expédier du courrier. Si vous souhaitez expédier du courrier, veuillez le remettre affranchi au secrétariat médical du service qui se chargera de son acheminement.</p>


      </div>
      <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Fermer</a>
      </div>
  </div>

<!-- Début Description -->
<div class="container textevue presentation">
    <div class="col s12 m7 textevue">
        <h2 class="header center-align textevue">Centre Hospitalier de La Loupe</h2>
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <p class="flow-text center-align textevue">
                        Madame, Mademoiselle, Monsieur,
                        <br>
                        Vous entrez au Centre Hospitalier de La Loupe. Soyez assuré que tout sera mis en oeuvre pour que votre séjour se passe dans les meilleures conditions.
                        <br>
                        Le personnel de l'hôpital sera à vos côtés, disponible et attentif à vos demandes. Il mettra en oeuvre toutes ses compétences et son expérience pour que votre séjour soit le plus agréable possible.
                        <br>
                        Que votre séjour soit le plus confortable possible.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fin Description -->

<!-- Slider Stats -->

<div class="container white-text center-align" id="stats">
    <div id="slider2" class="carousel textevue">
        <h1>Le centre hospitalier en quelques chiffres</h1>
        <a class="carousel-item" href="#one!">
            <i class="large material-icons white-text">tag_faces</i>
            <p class="white-text textevue">200 professionnels disponibles</p>
        </a>
        <a class="carousel-item" href="#two!!">
            <i class="large material-icons white-text">insert_chart</i>
            <p class="white-text textevue">A.H.P.A.D : taux d'occuptaion 99.05%
            </p>
        </a>
        <a class="carousel-item" href="#three!">
            <i class="large material-icons white-text">hotel</i>
            <p class="white-text textevue">223 lits</p>
        </a>
        <a class="carousel-item" href="#four!">
            <i class="large material-icons white-text">insert_chart</i>
            <p class="white-text textevue">S.S.I.A.D : taux d'occuptaion 94.13%
            </p>
        </a>
        <a class="carousel-item" href="#five!">
            <i class="large material-icons white-text">enhanced_encryption</i>
            <p class="white-text textevue">Hospitalisation 2015 : 392
            </p>
        </a>
    </div>
</div>
<hr>
