<div id="topFixed"></div>
<div class="container ">
    <div class="row">
        <div class="col s12 m12">
            <h4 class="header center-align">
                <i class="material-icons"></i>
                Résidences “l’Orée du Bois” et “les Collines du Perche”
            </h4>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <!--<img class="left responsive-img" src="../img/temp.png" alt="photo de l'hopital"/>
                        <h5 class="center-align">
                            <a href="#" class="vwtitle">La Charmille</a>
                        </h5>-->
                        <p id="cardtext" class="flow-text justify">
                          L’E.H.P.A.D. est un établissement qui accueille des personnes âgées dépendantes de 60 ans et plus (sauf dérogation accordée par le Conseil Général).
                          Sont accueillies :
                        </p>
                        <ul id="cardtext" class="flow-text justify">
                          <li>- 53 résidents aux Collines du Perche bâtiment A</li>
                          <li>- 25 résidents à l’Orée du Bois bâtiment A</li>
                          <li>- 11 résidents dans le bâtiment B</li>
                        </ul>

                        <h5>Les objectifs :</h5>
                      <p id="cardtext" class="flow-text justify">
                          Le résident est accompagné par une équipe pluridisciplinaire composée :
                      </p>
                        <ul id="cardtext" class="flow-text justify">
                          <li>- D’un médecin coordonnateur</li>
                          <li>- De médecins libéraux loupéens</li>
                          <li>- D’un cadre supérieur de santé</li>
                          <li>- D’un cadre de santé</li>
                          <li>- D’un ergothérapeute, d’un kinésithérapeute, d’une aide kinésithérapeute</li>
                          <li>- D’infirmières</li>
                          <li>- D’aides soignants / AMP</li>
                          <li>- D’agents de service hospitalier</li>
                          <li>- D’animatrices, d’un art thérapeute</li>
                          <li>- D’une psychologue</li>
                          <li>- D’une diététicienne</li>
                        </ul>
                        <h5>Les objectifs :</h5>
                        <p id="cardtext" class="flow-text justify" >
                          La journée est organisée selon le rythme de la vie de tous les jours en respectant, dans la mesure du possible, les habitudes de vie de chacun. Néanmoins, la vie en collectivité impose certaines règles et contraintes, nous nous efforçons de rendre le séjour le plus agréable possible.
                          <br>
                          Le petit déjeuner est servi en chambre aux Collines du Perche ou en salle à manger à l’Orée du Bois.
                          Les déjeuner et dîner sont pris dans la salle de restaurant dans la mesure où l’état de santé le permet.
                          <br>
                          Des activités de loisirs et de vie sociale sont proposées régulièrement, le programme est affiché chaque semaine par le service animation.
                          <br>
                          La chambre est assimilée à un domicile personnel : vous êtes chez vous, vous pouvez installer dans votre chambre du mobilier et des objets personnels tout en respectant l’accessibilité.
                          <br>
                          Aucun horaire de visite n’est imposé, vos sorties sont libres à l’exception de l’unité de l’Orée du Bois où les accès sont sécurisés.
                          <br>
                          Néanmoins, pour un meilleur fonctionnement et pour votre sécurité, vous devez nous signaler vos absences, notamment aux heures des repas et la nuit.
                        </p>
                        <h5>Retrait du dossier :</h5>
                        <p id="cardtext" class="flow-text justify">
                          Le dossier de demande d’admission en E.H.P.A.D. est à retirer auprès du service Accueil/Admissions/Frais de séjours du centre hospitalier de La Loupe ou sur demande auprès du cadre de santé de l’E.H.P.A.D.
                          <br>
                          L’admission est accordée après examen de ce dossier et une visite de pré admission avec le médecin coordonnateur.
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
