<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>Ajouter un marchés </h2>
        <form class="form-inline">
            <div class="form-group">
                <p>titre de la page<input type="text" class="form-control" placeholder="titre de la page" ng-model='vm.marches.titre'></p>
                <p>Contenu<textarea ui-tinymce="vm.tinymceOptions" placeholder="Contenu de marchés" ng-model='vm.marches.texte'></textarea></p>
            </div>
            <button ng-click='vm.create2()' class="btn btn-default" onclick="Materialize.toast('Contenu ajouté avec succès !', 4000, 'rounded')">Enregistrer</button>
        </form>

    </div>
</div>
