<div id="topFixed"></div>
<div class="container ">
    <div class="row" id="categorieHeight">
        <div class="col s12">
            <h4 class="header center-align">
                <i class="material-icons"></i>
                {{vm.marches.titre}}
            </h4>

            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="center-align">
                        </h5>
                        <p id="cardtext" class="flow-text justify" ng-bind-html='vm.marches.texte'></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
